/**
 * @file
 * partials/settings/_settings.core.scss
 */

// Breakpoints.
$shila-s-break: 525px !default;
$shila-m-break: 801px !default;
$shila-l-break: 1025px !default;
$shila-breakpoints: (
  's':  $shila-s-break,
  'm':  $shila-m-break,
  'l':  $shila-l-break,
) !default;

// The xs breakpoint is used to target xs only.
$shila-xs-break: max-width 524px !default;

// Default base font size.
$shila-base-font-size: 18px !default;

// Base font sizes for different breakpoints.
$shila-s-font-size: 20px !default;
$shila-m-font-size: 20px !default;
$shila-l-font-size: 20px !default;
$shila-breakpoint-font-sizes: (
  's':  $shila-s-font-size,
  'm':  $shila-m-font-size,
  'l':  $shila-l-font-size,
) !default;

// Base line height. To keep things simple it is the same for all breakpoints.
$shila-base-line-height: 1.6 !default;

// Line height based spacing.
$shila-base-spacing: $shila-base-line-height * 1rem !default;

$shila-tiny-spacing-factor: .25 !default;
$shila-small-spacing-factor: .5 !default;
$shila-large-spacing-factor: 2 !default;
$shila-huge-spacing-factor: 4 !default;

$shila-tiny-spacing: $shila-base-spacing * $shila-tiny-spacing-factor;
$shila-small-spacing: $shila-base-spacing * $shila-small-spacing-factor;
$shila-large-spacing: $shila-base-spacing * $shila-large-spacing-factor;
$shila-huge-spacing: $shila-base-spacing * $shila-huge-spacing-factor;
