// @file
// partials/settings/_settings.layout.scss


// Variables used to set page and content widths
//******************************************************************************

$shila-max-page-width: 1200px !default;
$shila-side-spacings: (
  'default': $shila-base-spacing,
) !default;
$shila-readable-width: 40em !default;
