// @file
// partials/settings/_settings.layout.scss


// Maximum page width and side spacing
//******************************************************************************

$shila-max-page-width: 1200px !default;
$shila-base-side-spacing: 5% !default;
$shila-breakpoint-side-spacings: (
  's': $shila-base-spacing,
) !default;
