// @file
// partials/settings/_settings.layout.scss


// Default grid settings
$shila-base-columns: 4 !default;
$shila-s-columns:  8 !default;
$shila-m-columns: 12 !default;
$shila-l-columns: 16 !default;
$shila-breakpoint-columns: (
  's':  $shila-s-columns,
  'm':  $shila-m-columns,
  'l':  $shila-l-columns,
) !default;
$shila-gutter: 1 / 3 !default;
$shila-debug-grid: false !default;
$shila-background-grid-color: $shila-light-gray !default;

// Set up default Singularity grid
@include add-grid($shila-base-columns);
@each $breakpoint-key, $columns in $shila-breakpoint-columns {
  @include add-grid($columns at map-get($shila-breakpoints, $breakpoint-key));
}
@include add-gutter($shila-gutter);
@include sgs-change('debug', $shila-debug-grid);

// Horizontal layout
$shila-max-width: 1200px !default;
$shila-base-side-spacing: 5% !default;
$shila-breakpoint-side-spacings: (
  's': $shila-base-spacing,
) !default;

// Other Sizes
$shila-base-border-radius: 3px !default;
$shila-base-z-index: 0 !default;
