/**
 * @file
 * partials/settings/_settings.typography.scss
 */

// Typography

$shila-font-stack-helvetica: (
  "Helvetica Neue",
  "Helvetica",
  "Arial",
  sans-serif,
) !default;
$shila-font-stack-georgia: (
  "Georgia",
  "Times",
  "Times New Roman",
  serif,
) !default;

$shila-base-font-family: $shila-font-stack-helvetica !default;
$shila-heading-font-family: $shila-base-font-family !default;

// Font Sizes

$shila-h1-font-size: 2rem !default;
$shila-h2-font-size: 1.5rem !default;
$shila-h3-font-size: 1.17rem !default;
$shila-h4-font-size: 1rem !default;
$shila-h5-font-size: .83rem !default;
$shila-h6-font-size: .67rem !default;

$shila-heading-line-height: 1.2 !default;
