/**
 * @file
 * partials/settings/_settings.typography.scss
 */

// Typography

$font-stack-helvetica: (
  "Helvetica Neue",
  "Helvetica",
  "Arial",
  sans-serif,
) !default;
$font-stack-georgia: (
  "Georgia",
  "Times",
  "Times New Roman",
  serif,
) !default;

$base-font-family: $font-stack-helvetica !default;
$heading-font-family: $base-font-family !default;

// Font Sizes

$h1-font-size: 2rem !default;
$h2-font-size: 1.5rem !default;
$h3-font-size: 1.17rem !default;
$h4-font-size: 1rem !default;
$h5-font-size: .83rem !default;
$h6-font-size: .67rem !default;

$heading-line-height: 1.2 !default;
