// @file
// partials/settings/_settings.typography.scss


// Font stacks
//******************************************************************************

$shila-font-stack-helvetica: (
  "Helvetica Neue",
  "Helvetica",
  "Arial",
  sans-serif,
) !default;
$shila-font-stack-georgia: (
  "Georgia",
  "Times",
  "Times New Roman",
  serif,
) !default;

$shila-base-font-family: $shila-font-stack-helvetica !default;
$shila-heading-font-family: $shila-base-font-family !default;


// Font weights
//******************************************************************************

$shila-font-weight-normal: 400 !default;
$shila-font-weight-bold: 700 !default;


// Headings
//******************************************************************************

// Responsive font sizes
$shila-h1-font-sizes: (
  'default': 2rem,
) !default;
$shila-h2-font-sizes: (
  'default': 1.5rem,
) !default;
$shila-h3-font-sizes: (
  'default': 1.17rem,
) !default;
$shila-h4-font-sizes: (
  'default': 1rem,
) !default;
$shila-h5-font-sizes: (
  'default': .83rem,
) !default;
$shila-h6-font-sizes: (
  'default': .67rem,
) !default;

// Responsive line heights
$shila-h1-line-heights: (
  'default': 1.2,
) !default;
$shila-h2-line-heights: () !default;
$shila-h3-line-heights: () !default;
$shila-h4-line-heights: () !default;
$shila-h5-line-heights: () !default;
$shila-h6-line-heights: () !default;
