/**
 * @file
 * partials/settings/_settings.colors.scss
 */

// Colors
$blue: #1565c0 !default;
$white: hsl(0, 0%, 100%) !default;
$lightest-gray: hsl(0, 0%, 87.5%) !default;
$lighter-gray: hsl(0, 0%, 75%) !default;
$light-gray: hsl(0, 0%, 62.5%) !default;
$medium-gray: hsl(0, 0%, 50%) !default;
$dark-gray: hsl(0, 0%, 37.5%) !default;
$darker-gray: hsl(0, 0%, 25%) !default;
$darkest-gray: hsl(0, 0%, 12.5%) !default;
$black: hsl(0, 0%, 0%) !default;

// Font Colors
$base-font-color: $darkest-gray !default;
$action-color: $blue !default;

// Border Color
$base-border-color: $lightest-gray !default;
$base-border: 1px solid $base-border-color !default;

// Background Colors
$base-background-color: $white !default;
$content-background-color: $white !default;
