/**
 * @file
 * partials/settings/_settings.colors.scss
 */

// Colors
$shila-blue: #1565c0 !default;
$shila-white: hsl(0, 0%, 100%) !default;
$shila-lightest-gray: hsl(0, 0%, 87.5%) !default;
$shila-lighter-gray: hsl(0, 0%, 75%) !default;
$shila-light-gray: hsl(0, 0%, 62.5%) !default;
$shila-medium-gray: hsl(0, 0%, 50%) !default;
$shila-dark-gray: hsl(0, 0%, 37.5%) !default;
$shila-darker-gray: hsl(0, 0%, 25%) !default;
$shila-darkest-gray: hsl(0, 0%, 12.5%) !default;
$shila-black: hsl(0, 0%, 0%) !default;

// Font Colors
$shila-base-font-color: $shila-darkest-gray !default;
$shila-action-color: $shila-blue !default;

// Border Color
$shila-base-border-color: $shila-lightest-gray !default;
$shila-base-border: 1px solid $shila-base-border-color !default;

// Background Colors
$shila-base-background-color: $shila-white !default;
$shila-content-background-color: $shila-white !default;
