// @file
// partials/settings/_settings.core.scss


// Breakpoints for responsive design
//******************************************************************************

// S, M and L are min-width values.
$shila-s-break: 525px !default;
$shila-m-break: 801px !default;
$shila-l-break: 1025px !default;

// XS is a max-width value, used to target XS only.
$shila-xs-break: max-width $shila-s-break - 1 !default;

$shila-breakpoints: (
  'xs': $shila-xs-break,
  's':  $shila-s-break,
  'm':  $shila-m-break,
  'l':  $shila-l-break,
) !default;


// Base font sizes for different breakpoints
//******************************************************************************

$shila-base-font-sizes: (
  'default': 16px,
) !default;


// Base line heights for different breakpoints
//******************************************************************************

$shila-base-line-heights: (
  'default': shila-line-height(21px)
) !default;


// Spacing
//******************************************************************************

$shila-base-spacing: map-get($shila-base-line-heights, 'default') * 1rem !default;

$shila-tiny-spacing-factor: .25 !default;
$shila-small-spacing-factor: .5 !default;
$shila-large-spacing-factor: 2 !default;
$shila-huge-spacing-factor: 4 !default;

$shila-tiny-spacing: $shila-base-spacing * $shila-tiny-spacing-factor;
$shila-small-spacing: $shila-base-spacing * $shila-small-spacing-factor;
$shila-large-spacing: $shila-base-spacing * $shila-large-spacing-factor;
$shila-huge-spacing: $shila-base-spacing * $shila-huge-spacing-factor;
