// @file
// sass/partials/elements/_elements.images.scss


// elements.images
//
// Sets useful default rules for images.
//
// Style guide: elements.images


img {
  max-width: 100%;
  font-style: italic;
  vertical-align: middle;
}
