/**
 * @file
 * partials/tools/_tools.lists.scss
 */

// Turn off the bullet for an element of a list
@mixin shila-no-bullet {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}

// turns off the bullets for an entire list
@mixin shila-no-bullets {
  list-style: none;
  li {
    @include shila-no-bullet;
  }
}

// A list(ol,ul) that is layed out such that the elements are floated left and won't wrap.
// This is not an inline list.
//
// Setting `$padding` to `false` disables the padding between list elements
@mixin shila-horizontal-list($padding: 4px, $direction: left) {
  @include shila-reset-box-model;
  @include shila-clearfix;
  li {
    @include shila-no-bullet;
    white-space: nowrap;
    float: $direction;
    @if $padding {
      padding: {
        left: $padding;
        right: $padding;
      }
      &:first-child,
      &.first {
        padding-#{$direction}: 0;
      }
      &:last-child {
        padding-#{shila-opposite-position($direction)}: 0;
      }
      &.last {
        padding-#{shila-opposite-position($direction)}: 0;
      }
    }
  }
}

@mixin shila-horizontal-nav {
  @include shila-reset-box-model;
  text-align: center;
  li {
    display: inline-block;
    padding-left: $shila-small-spacing;
  }
  li:first-child {
    padding-left: 0;
  }
  a {
    color: $shila-medium-gray;
    text-decoration: none;
    transition: color $shila-base-duration $shila-base-timing;
    &:active,
    &:focus,
    &:hover {
      color: $shila-dark-gray;
    }
  }
  .is-active {
    color: $shila-dark-gray;
  }
}
