/**
 * @file
 * partials/tools/_tools.font-size.scss
 */

@function shila-base-font-size($breakpoint-key) {
  @return map-get($shila-base-font-sizes, $breakpoint-key);
}

// Converts unitless base-line-height to pixels for pixel-based line-height calculations.
@function shila-base-line-height($breakpoint-key) {
  @return round(shila-base-font-size($breakpoint-key) * $shila-base-line-height);
}

@function shila-line-height($font-size, $breakpoint-key) {
  @return ceil($font-size / shila-base-line-height($breakpoint-key)) * (shila-base-line-height($breakpoint-key) / $font-size);
}

// Generate a font-size and baseline-compatible line-height.
@mixin shila-font-size($font-size, $breakpoint-key, $line-height: auto, $important: false) {

  @if (type-of($font-size) == number) {
    @if (unit($font-size) != "px") {
      @error "`#{$font-size}` needs to be a pixel value.";
    }
  } @else {
    @error "`#{$font-size}` needs to be a number.";
  }

  @if ($important == true) {
    $important: !important;
  } @elseif ($important == false) {
    $important: null;
  } @else {
    @error "`#{$important}` needs to be `true` or `false`."
  }

  // We provide a `px` fallback for old IEs not supporting `rem` values.
  font-size: $font-size $important;
  font-size: ($font-size / shila-base-font-size($breakpoint-key)) * 1rem $important;

  @if ($line-height == 'auto') {
    line-height: shila-line-height($font-size, $breakpoint-key) $important;
  }

  @else {

    @if (type-of($line-height) == number or $line-height == 'inherit' or $line-height == 'normal') {
      line-height: $line-height $important;
    }

    @elseif ($line-height != 'none' and $line-height != false) {
      @error "D’oh! `#{$line-height}` is not a valid value for `$line-height`."
    }

  }

}
