// @file
// sass/partials/styles/_styles.lists.scss


// styles.lists
//
// Styling for lists.
//
// Style guide: styles.lists


ul,
ol {
  margin: 0 0 $shila-base-spacing;
}
dl {
  margin-bottom: $shila-base-spacing;
  dt {
    font-weight: $shila-font-weight-bold;
    margin-top: $shila-small-spacing;
  }
  dd {
    margin: 0;
  }
}
