// @file
// sass/partials/styles/_styles.tables.scss


// styles.tables
//
// Styling for tables.
//
// Style guide: styles.tables


table {
  border-collapse: collapse;
  margin: $shila-base-spacing 0;
  text-align: left;
  width: 100%;
}

thead {
  vertical-align: bottom;
}

tbody {
  vertical-align: top;
}

tr {
  border-bottom: $shila-base-border;
}

th {
  font-weight: $shila-font-weight-bold;
}

th,
td {
  padding: $shila-small-spacing $shila-small-spacing $shila-small-spacing 0;
}
